<section class="container">
<div class="row">
  <div class="col-sm-6">
    <h2>Serverless</h2>
    <iframe
      width="100%"
      height="315"
      src="https://www.youtube.com/embed/dUXDuxqTxmo?si=QZUyZYS2CDihDUKk"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
  <div class="col-sm-6">
    <h2>Video 2</h2>
    <iframe
      width="100%"
      height="315"
      src="https://www.youtube.com/embed/YOUR_VIDEO_ID_2"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
  <div class="col-sm-6">
    <h2>Video 3</h2>
    <iframe
      width="100%"
      height="315"
      src="https://www.youtube.com/embed/YOUR_VIDEO_ID_3"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
  <div class="col-sm-6">
    <h2>Video 4</h2>
    <iframe
      width="100%"
      height="315"
      src="https://www.youtube.com/embed/YOUR_VIDEO_ID_4"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</div>
</section>
